.content-wrapper, .main-footer, .main-header {
    background-color: #E3F2FD !important;
}

.main-sidebar {
    background-color: #1E88E5 !important;  
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1030;
}

.sidebar a {
    color: #ffffff !important;
}

.brand-link .brand-image {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
    background-color: #E3F2FD !important;
}

.brand-link .brand-text {
    font-weight: bold !important;
}

.login-logo img {
  width: 200px !important;
  height: auto;
  transition: filter 0.3s ease, transform 0.3s ease;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.login-logo img:hover {
  filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.5));
  transform: scale(1.05);
}

.jazzmin-login-page {
  background-color: #E3F2FD !important; 
}

.login-box .btn-primary {
  background-color: #1E88E5; 
  border-color: #f5eee6;
}

.login-box .btn-primary:hover {
  background-color: #1565C0; 
  border-color: #f5eee6;
}

/* Aktif menu */
.sidebar .nav-sidebar .nav-item > .nav-link.active {
    background-color: #E3F2FD;
    color: #1E88E5 !important;
    font-weight: bold;
}

